mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  mat-toolbar {
    background: #f7f7f7;
  }
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
  }
  .far{
    padding: 10px;
  }
  ::ng-deep {
    .mat-menu-content {
      width: 160px;
    }
  }