  .far{
padding-right: 10px;
  }
  .fas{
      padding-right: 10px;
  }
  .mat-list-item {
    color: black !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    &:hover {
      color: whitesmoke !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 10px;
        margin: 0 8px;
        &:hover {
          background: green;
        }
      }
    }
  }
  .list-item-active {
    color: black !important;
  }
 