<br><br><br><br>
<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <i class="far fa-calendar-alt fa-lg"></i> Manage Appointments
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <i class="fas fa-journal-whills fa-lg"></i> Journal
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <i class="far fa-comments fa-lg"></i>  Chats
     </a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <i class="fas fa-wallet fa-lg"></i> Manage Payments
     </a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <i class="fas fa-wrench fa-lg"></i>  Settings
     </a>
  </mat-nav-list>

