* {
  margin: 0;
  padding: 0;
}

body{
  background-color: whitesmoke;
}

.outer-div {
  display: flex;
  margin: 20px;
  margin-top: -5px;
}

.first-div, .second-div {
  background-color: whitesmoke;
  min-height: 550px;
  padding: 20px;
}

.first-div {
  flex: 0.5;
  margin-right: 15px;
}

.second-div {
  flex: 1;
}
h2{
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}
  h3{
    padding-left: 5px;
    font-weight: bold;
  }
  .search-box {
    background: #fafafa;
    padding: 15px 4px;
      i {
        color: grey;
        margin-left: 5px; 
        vertical-align: middle;
      }
    }
  
  input {
    border: none;
    width: 85%;
  
    &::placeholder {

     font-weight: bold;
      color: grey;
      font-weight: 300;
      padding-left: 10px;
    }
  }
  .follow-up-outer-div-click{
    background-color: #D3D3D3;
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    transition: .3s ease;
    
    .text {
      margin-left: 12px;
      width: 70%;
      
      h5 {
        font-weight: bold;
        margin-top: 6px;
        margin-bottom: 0;
      }
      
      p {
        margin: 0;
      }
    }
  }
  .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-top: 10px;
  }
  .follow-up-outer-div {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
    
    &--grey {
      background: #eee;
    }
    
    .text {
      margin-left: 12px;
      width: 70%;
      
      h5 {
        font-weight: bold;
        margin-top: 6px;
        margin-bottom: 0;
      }
      
      p {
        margin: 0;
      }
    }
  }
  h4{
    font-weight: bold;
    margin-top: 25px;
  }
  #date{
    margin-left: 40%;
  }
  //message
 div.message{
   background-color: white;
   padding: 5px 15px;
   max-width: 400px;
   margin-bottom: 15px;
   border-radius: 10px 10px 0px 10px;
   p{
     font-size: 12px;
   }
 }
 div.outgoing{
   background-color: green;
   color: white;
   margin-left: auto;
 }
 div.incoming{
   background-color: silver;
 }
 #message-time{
   padding-left: 95%;
 }
 .chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;

  input {
    margin: 0 10px;
    padding: 6px 2px;
  }
  
  i {
    color: green;
    font-size: 16px;
    vertical-align: middle;
  }
}