<h2>Chats</h2>
<div class="outer-div">
    <!--left container-->
    <div class="first-div">
        <div class="follow-up-outer-div">
            <h3>Therapists</h3>
        </div>
        <div class="search-box">
            <div class="input-wrapper">
              <i class="fas fa-search"></i>
              <input placeholder="Search" type="text">
            </div>
          </div>
        <div class="follow-up-outer-div-click">
        <br>
        <!--1st chat-->
        <img src="assets/img/ronaldo.jpeg" alt="" class="profile-image">
        <div class="text">
			<h5>Ronaldo</h5>
			<p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur....</p>
           
		  </div>
		  <span class="time text-muted small">2:30PM</span>
		</div>
		<hr>
        <!--2nd chat-->
        <div class="follow-up-outer-div">
        <img src="assets/img/neymar.jpg" alt="" class="profile-image">
        <div class="text">
			<h5>Neymar</h5>
			<p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur....</p>
		  </div>
		  <span class="time text-muted small">2:30PM</span>
		</div>
        <hr>
  <!--3rd imag-->
        <div class="follow-up-outer-div">
        <img src="assets/img/messi.jpg" alt="" class="profile-image">
        <div class="text">
            <h5>Messi</h5>
            <p class="time-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur.....</p>
        </div>
        <span class="time text-muted small">2:30PM</span>
        </div>
       
		<hr>
        <!--4th imag-->
        <div class="follow-up-outer-div">
            <img src="assets/img/lewa.jpeg" alt="" class="profile-image">
            <div class="text">
                <h5>Lewandowski</h5>
                <p class="time-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur....</p>
            </div>
            <span class="time text-muted small">2:30PM</span>
        </div>
    </div>
        <!--Right container-->
    <div class="second-div">
        <div class="follow-up-outer-div">
        <img src="assets/img/ronaldo.jpeg" alt="" class="profile-image">
        <div class="text">
			<h4>Ronaldo</h4>
        </div>
            </div>
            <hr><br>
            <span class="text-muted small" id="date">Monday, January 20,2021</span>
            <!--Message-->
    <div class="chat-window">
        <div class="chats">
            <div class="message incoming">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <span class="time text-muted small">2:30PM</span>


        <div class="message outgoing">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <span class="time text-muted small" id="message-time">2:30PM</span>


        <div class="message incoming">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <span class="time text-muted small">2:30PM</span>


        <div class="message outgoing">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <span class="time text-muted small" id="message-time">2:30PM</span>

        </div>
    </div>
    <!--search-->
    <div class="row">
        <div class="col-12">
          <div class="chat-box-tray">
            <input type="text" placeholder="Text message here">
            <i class="far fa-paper-plane"></i>
          </div>
        </div>
      </div>
</div>
</div>
            